*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #FFFF;
    z-index: 1;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 0.2);
    /* border: 1px solid green; */
   
}

nav{
    width: 80%;
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid magenta; */
}

header nav ul{
    display: flex;
    gap: 45px;
    font-size: 20px;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
}

.logos{
    display: flex;
    gap: 24px;
}

header nav ul .category:hover a{
    color: #FE7D09;
}

/* The normal body styling started here */
.checkoutContainer{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.subCheckout{
    display: flex;
    justify-content: space-between;

}

.cont1{
    margin-top: 32px;
    /* border: 1px solid orange; */
}

.personalInfoCont{
    display: flex;
    gap: 20px;
    margin-top: 12px;
    /* border: 1px solid magenta; */
}

.fullName{
    width: 387px;
    height: 42px;
    outline: none;
    padding: 10px;
    color: #093D41;
}

.phoneNumber{
    width: 305px;
    height: 42px;
    outline: none;
    padding: 10px;
    color: #093D41;
}

.countryCont{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.countrySelect{
    width: 220px;
    height: 42px;
    outline: none;
    padding: 10px;
    color: #093D41;
    
}
.addressCont, .cont2{
    margin-top: 44px;
}

.paypalCont{
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.check{
    display: flex;
    gap: 12px;
}
.debit{
    display: flex;
    gap: 12px;
    align-items: center;

}

.payrule{
    margin-top: 24px;
}

.subCardCont1{
    display: flex;
    margin-top: 21px;
    justify-content: space-between;
    /* border: 1px solid magenta; */
}

.cardNum, .monthCont{
    margin-top: 21px;
}
.cardNum{
    display: flex;
    justify-content: space-between;
}

.monthCont{
    display: flex;
    gap: 20px;
}

.monthInput, .ccvNumber{
    width: 183px;
    height: 42px;
    padding: 10px;
    outline: none;
}

/* designing the right side of the container (cart summary) */
/* .cartSummaryContainer{
    border: 2px solid blue;
} */

.smallCardDiv{
    height: 346px;
    width: 100%;
    background-color: #FFE5CE;
    border-radius: 5px;
    padding: 24px;
}

.subTotalCont{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.totalRule{
    margin-top: 12px;
}
.purchase{
    width: 250px;
    height: 54px;
    border-radius: 4px;
    background-color: #5E9296;
    color: #FFFF;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.checkoutItemsCont{
    margin-top: 20px;
}

.strawberriesCont{
    display: flex;
    margin-top: 12px;
}
.addBerries{
   width: 100%;
   padding: 5px; 
}
.straw{
    display: flex;
    justify-content: space-between;

}

.plusandMinusContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
   
}

.minLogo{
    display: flex;
    gap: 20px;

}

.itemNumber{
    color: #86ADB0;
}

/* footer design */

footer{
    height: 460px;
    background-color: #D8F1E5;
    margin-top: 106px;
    /* border: 1px solid blue; */
}

.footItems{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid magenta; */
}

.allContact{
    display: flex;
    justify-content: space-between;
    padding: 32px 0 32px 0;

}

/* .footItem1, .footItem2, .footItem3, .footItem4{
    border: 1px solid red;
} */

.footItem1 p{
    margin-top: 32px;
}

.socials{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footItem2SubDiv{
    margin-top: 52px;
    /* border: 2px solid green; */
}
.contactSubDiv1{
    display: flex;
    gap: 12px;
    align-items: center;
    /* border: 2px solid green; */

}
.contactSubDiv{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 24px;
    /* border: 1px solid red; */
}

.footItem2SubDiv input{
    padding: 10px;
    border: none;
    width: 285px;
    color: #5E9296;
    margin-top: 24px;
    outline: none;
    border-radius: 5px;
}

.footItem2SubDiv button{
    width: 131px;
    padding: 10px;
    color: #3BB77E;
    border: none;
    margin-top: 24px;
    border: 1px solid #3BB77E ;
    background-color: #D8F1E5;
    border-radius: 5px;
}

.cards{
    display: flex;
    gap: 10px;
    margin-top: 24px;
}

.rule{
    border: 1px solid #DEDEDE;
}

.copywright{
    text-align: center;
    margin-top: 32px;
}

/* media query */
@media screen and (max-width:600px) {
    .individualItemsContainer{
        margin: 0 auto;
    }

   .allContact{
    flex-direction: column;
   }

   footer{
    height: auto;
    padding-bottom: 30px;
   }

    .footItem2, .footItem3, .footItem4{
    margin-top: 50px;
    /* border: 1px solid blue; */
}

.footItem2SubDiv, .footItem1 p{
    margin-top: 22px;
}

.socials{
    justify-content: space-around;
}

/* navBar media query */
header nav ul{
    display: none;
}

/* media for checkout */
.subCheckout, .personalInfoCont, .countryCont, .cardNum{
    flex-direction: column;
}
.fullName, .phoneNumber, .countrySelect{
    width: 100%;
}

.countrySelect, .phoneNumber{
    margin-top: 20px;
}

.cartSummaryContainer{
    margin-top: 40px;
}

.smallCardDiv{
    width: auto;
}
    
}